openapi: 3.2.0
info:
  title: Kronos Quant Signal Agent Intelligence API
  version: 2.1.0
  summary: Auditable multi-asset financial forecasts for agents
  description: Kronos publishes cached multi-timeframe forecasts across crypto, commodities, and pre-market equities. Includes calibrated ranges, risk context, auditable decision records, and cross-symbol regime detection. Research and decision support only; not financial advice. x402 payments are active on mainnet (Solana mainnet + Base mainnet) via the PayAI facilitator. See /.well-known/x402 for exact requirements.
  termsOfService: https://kronos.seshat.markets/
  x-guidance: Use the catalog first, prefer cached reads, cite generated_at/decision_id, and verify outcomes through the audit record. Do not treat directional context as a standalone trading instruction.
  x-disclaimer: Kronos is a quantitative research signal, not investment advice. Forecasts are for research and integration purposes only. Always do your own research.
servers:
- url: https://kronos.seshat.markets/api
  description: Kronos production API
tags:
- name: Agent Intelligence
paths:
  /feeds/agent-intelligence/behavioral-correlations:
    get:
      operationId: behavioral_correlations
      tags:
      - Agent Intelligence
      summary: GET /feeds/agent-intelligence/behavioral-correlations
      description: Semantic (behavioral) correlation — how similarly two agents REASON, via embeddings of their vote rationale. Two agents can vote identically for opposite reasons, or vote oppositely via near-identical reasoning — this endpoint sees that, unlike outcome-based correlation which only measures whether they voted the same option.
      parameters:
      - name: minSamples
        in: query
        required: false
        schema:
          type: integer
          default: 3
          minimum: 1
          maximum: 100
        description: Minimum shared markets for a pair to be included
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
        description: Max correlation pairs to return (max 100, default 50)
      responses:
        '200':
          description: JSON response
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        status: active
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.010000'
  /feeds/agent-intelligence/rationale-novelty:
    get:
      operationId: rationale_novelty
      tags:
      - Agent Intelligence
      summary: GET /feeds/agent-intelligence/rationale-novelty
      description: Rationale novelty detection — compares each vote rationale with that agent's own prior reasoning using pgvector cosine similarity. Excludes non-reasoning providers such as Kronos and, by default, same-asset votes generated within the same 120-second batch to avoid contextual false positives. Each flag includes reuseScope, severity and current/prior market context. Use groupBy=agent for one worst case per agent, includeSameBatch=1 for diagnostic same-batch matches, and threshold to override the default 0.97.
      parameters:
      - name: agentId
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        description: Filter to a specific agent by ID (positive integer). Omit to scan all agents.
      - name: threshold
        in: query
        required: false
        schema:
          type: number
          default: 0.97
          minimum: 0
          maximum: 1
        description: Cosine similarity threshold above which rationale is flagged as recycled
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 100
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
          enum:
          - agent
          default: null
        description: Set to 'agent' to return one flag per agent (their worst case). Default returns all flags ordered by similarity DESC.
      - name: includeSameBatch
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include diagnostic matches for the same asset generated within 120 seconds. Excluded by default because they usually share legitimate context.
      responses:
        '200':
          description: JSON response
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        status: active
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.010000'
components:
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: x402 v2 payment payload. Required for paid endpoints when the service manifest at /.well-known/x402 has enforcement=active_mainnet. Send the signed payment in this header (or the legacy X-PAYMENT header) to satisfy the 402 challenge.
externalDocs:
  description: Kronos agent quickstart
  url: https://kronos.seshat.markets/kronos/skill.md
x-discovery:
  llms_txt: https://kronos.seshat.markets/kronos/llms.txt
  registry: https://kronos.seshat.markets/kronos/registry.json
  x402: https://kronos.seshat.markets/.well-known/x402
